<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>스마트팩토리 창고 자재 이동 프로그램</title>
</head>

<body>
  <h1>스마트팩토리 창고 자재 이동 프로그램</h1>
  <div>
    <a href="/page1" class="button">자재 등록</a>
    <a href="/page2" class="button">창고 등록</a>
    <a href="/page3" class="button">목표 설정</a>
  </div>
</body>

<style>
  body {
    text-align: center;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
  }

  h1 {
    font-size: 24px;
    margin-top: 20px;
  }

  .button {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
  }

  .button:hover {
    background-color: #0056b3;
  }
</style>

</html>